body {
  font-family: 'Murecho', sans-serif;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
  height: 570px;
  margin-top: -20px;
}

/*Logo*/
.homepageLogo{
  float:left ;
  border-radius: 50%;;
  margin-left: auto;
  margin-right: auto;
  max-width: 5%;
  max-height: 100%;
  }

.gitStatbox1{
  position: absolute;
  display: flex;
}
.btn-spacing {
  margin-right: 50%;
}
