body{
    background-color: #0e0909;
}

.card {
    margin-top: 60%;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: #282828a0;
    color: white;
}

.card-title {
	margin-bottom: 20px;
	text-align: center;
}

.btn-primary {
	background-color: #00aefe;
	border-color: #058aff;
}

.btn-primary:hover {
	background-color: #00b3ff;
	border-color: #2fa8ff;
}

.btn-danger {
	background-color: #ea4335;
	border-color: #ea4335;
}

.btn-danger:hover {
	background-color: #cc372d;
	border-color: #cc372d;
}

.btn-info {
	background-color: #1da1f2;
	border-color: #1da1f2;
}

.btn-info:hover {
	background-color: #0d8ecf;
	border-color: #0d8ecf;
}


#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  #text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .loader-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loader {
	border: 5px solid rgba(255, 87, 34, 0.8);
	border-top-color: transparent;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: loader-spin 1s linear infinite;
}

@keyframes loader-spin {
	to {transform: rotate(360deg);}
}

.loader:before {
	content: "";
	position: absolute;
	top: -10px;
	left: -10px;
	right: -10px;
	bottom: -10px;
	border: 5px solid rgba(255, 87, 34, 0.3);
	border-top-color: transparent;
	border-radius: 50%;
	animation: loader-spin 2s linear infinite;
}

.loader:after {
	content: "";
	position: absolute;
	top: -15px;
	left: -15px;
	right: -15px;
	bottom: -15px;
	border: 5px solid rgba(255, 87, 34, 0.5);
	border-top-color: transparent;
	border-radius: 50%;
	animation: loader-spin 3s linear infinite;
}
