body {
    background-color: #0e0909;
    font-family: 'Chivo Mono', monospace;
    overflow: hidden;
}

.navbar {
    background-color: transparent;
    margin-left: 50px; /* Adjust the margin as needed */
}

.navbar-brand{
    max-height: 40px;
    margin-right: 240px;
}

.search-bar {
    background-color: transparent;
    border: 1px solid orangered;
    border-radius: 19px;
    padding: 4px 6px;
    width: 80%;
}

.search-bar:focus {
    outline: none;
    border-color: orangered;
}

.navbar-toggler-icon {
    background-color: transparent;
}

.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-toggler:hover {
    background-color: transparent;
}

.navbar-toggler-icon-bar {
    background-color: orangered;
}

.navbar-light .navbar-toggler:hover .navbar-toggler-icon-bar {
    background-color: transparent; /* Change background color on hover */
}

.navbar-toggler:hover .navbar-toggler-icon-bar i {
    color: orangered; /* Change icon color on hover */
}

.navbar-light .navbar-toggler:hover .navbar-toggler-icon-bar i {
    color: orangered; /* Change icon color on hover for light navbar */
}

.btn-outline-clr{
    border-color: orangered;
    border-radius: 50%;
    border-width: 50%;
}

.btn-outline-clr:hover{
    color: orangered;
    border-color: none;
    border-width: 0;
}

.clr{
    color: white;
}
.clr:hover{
    color: orangered;
}


.loader-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loader {
	border: 5px solid rgba(255, 87, 34, 0.8);
	border-top-color: transparent;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: loader-spin 1s linear infinite;
}

@keyframes loader-spin {
	to {transform: rotate(360deg);}
}

.loader:before {
	content: "";
	position: absolute;
	top: -10px;
	left: -10px;
	right: -10px;
	bottom: -10px;
	border: 5px solid rgba(255, 87, 34, 0.3);
	border-top-color: transparent;
	border-radius: 50%;
	animation: loader-spin 2s linear infinite;
}

.loader:after {
	content: "";
	position: absolute;
	top: -15px;
	left: -15px;
	right: -15px;
	bottom: -15px;
	border: 5px solid rgba(255, 87, 34, 0.5);
	border-top-color: transparent;
	border-radius: 50%;
	animation: loader-spin 3s linear infinite;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  #text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }