
section{
    padding: 100px 200px ;
}
.home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home .content{
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
}

.home.content h1{
    font-size: 4em;
    font-weight: 900;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 400px;
}

.home.content h1 span{
    font-size: 1.2em;
    font-weight: 600;
}

.home.content p{
    margin-bottom: 65px;
}

.img {
    width:80%;
    z-index: 0; }
    
.text-over-img {
    z-index:1;
    font-size: 1.2em;
    margin-top: -100px;
}

#particles-js{
    height: 100%;
    width: 100%;
    background:#0e0909
}

